* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

body {
  font-size: 16px;
}

.pos-relative {
  position: relative;
}

html, body, .App {
  max-width: 100vw;
}

.add-event-container {
  max-width: 350px;
  margin: 0 auto;
}

.App {
  display: flex;
  flex-flow: column;
}

.custom-link {
  display: inline-block;
  color: #fff;
  padding: 16px;
  text-decoration: none;
}

.route-active {
  background-color: #fff;
  color: #13a7ff;
}

.error-container {
  color: #f00;
  margin: 16px 0;
}

.app-header {
  flex: 0 0 auto;
  justify-self: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #13a7ff;
  border-bottom: 1px solid #13a7ff;
}

.app-body {
  padding: 16px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-event-form-container {
  max-width: 400px;
  margin: 0 auto;
}

.app-event-table {
  min-height: 200px;
}