.textfield-label-text {
  display: block;
}

.textfield-input {
  padding: 6px 8px;
  font-size: 14px;
  width: 100%;
}

.textfield-label {
  text-align: left;
  font-size: 14px;
  padding: 4px 0;
  display: block;
}

.textfield-error {
  text-align: left;
  color: #ce1818;
}